
#vg-tooltip-element table{
    width: 350px;
}

.vg-tooltip visible light-theme{
    width: 540px;
}

.low{
    margin-top: 1%;
}

.container{
	background-color: rgb(212, 212, 212,0.2);
}

.title{
	
	text-align: center;
	color: #286485;
	font-family: Helvetica ;
	text-transform: capitalize;
	font-size: 40px;
	font-weight: 600;
}
.sub-title{
	text-align: left;
	color: rgb(31, 139, 182);
	font-family: Helvetica ;
	text-transform: capitalize;
	font-size: 25px;
	margin-bottom: 0;
}

.container{
	overflow: auto;
}
.grayBack{
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 5%;
	padding: 2%;
	background-color: rgba(183, 223, 228, 0.25);
	border-radius: 10px;
}

.blueBack{
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 2%;
	padding: 2%;
	background-color: rgba(183, 223, 228, 0.25);
	border-radius: 10px;
}

details > summary {
	display: none;
  }

.text-center{
	margin-left: 5%;
	padding: 0.5em;
	background-color: rgba(194, 194, 194, 0.2);
	justify-content: center;
	border-radius: 10px;
	
}

.grayBox-man{
	margin-left: 6%;
	padding: 0.5em;
	background-color: rgba(194, 194, 194, 0.2);
	justify-content: center;
	border-radius: 10px;
}

.grayBox-nuclear{
	padding: 0.5em;
	background-color: rgba(194, 194, 194, 0.2);
	justify-content: center;
	border-radius: 10px;
}
.grayBox-nuclear p{
	text-align: justify;
	padding-top: 20%;
	padding-left:1em;
	padding-right:1em;
}

.grayBox-man p{
	text-align: justify;
	padding-top: 20%;
	padding-left:1em;
	padding-right:1em;
}


.para{
	text-align: justify;
}
.para-right{
	margin-left: 3em;
	text-align: justify;
}

.para p {
	padding-top: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.para-right p{
	padding-top: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

#manPower{
	margin-left: 1.1%;
}

